<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright 2016 LasLabs Inc. License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl.html). -->

<odoo>

	<template id="webclient_bootstrap" inherit_id="web.webclient_bootstrap"
		name="Main Apps">

		<!-- <xpath expr="//div[@class='o_sub_menu']" position="replace" /> -->

		<xpath expr="//t[@t-set='head']" position="inside">
			<meta charset="utf-8" />
			<meta http-equiv="cleartype" content="on" />
			<meta name="MobileOptimized" content="320" />
			<meta name="HandheldFriendly" content="True" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
			<meta name="viewport"
				content="width=device-width, initial-scale=1.0, user-scalable=no" />
		</xpath>

		<xpath expr="//nav[@id='oe_main_menu_navbar']" position="replace">
			
			<t t-set="body_classname" t-value="'hold-transition skin-blue sidebar-mini o_web_client'" />

			<nav id="oe_main_menu_navbar" role="navigation" groups="base.group_user,base.group_portal">
				<!-- Main Header -->
				<header class="main-header">
					<!-- <a class="logo" t-attf-href="/web?{{ keep_query() }}"> -->
					<!-- <img src='/web/binary/company_logo' /> -->
					<!-- </a> -->
					<!-- Logo -->
					<a href="/web" class="logo">
						<!-- mini logo for sidebar mini 50x50 pixels -->
						<span class="logo-mini">
							<b>MCP</b>							
						</span>
						<!-- logo for regular state and mobile devices -->
						<span class="logo-lg">
							<b>My</b>
							Company
						</span>
					</a>

					<!-- Header Navbar -->
					<nav class="navbar navbar-static-top" role="navigation">
						<!-- Sidebar toggle button -->
						<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
							<span class="sr-only">Toggle navigation</span>
						</a>	
																							
						<div class="navbar-custom-menu">													
							<ul class="nav navbar-top-links oe_systray" style="display: -webkit-box;"/>          									
						</div>														
						<!--<ul class="nav navbar-top-links navbar-right oe_systray" />-->
						<!--<ul class="nav navbar-nav navbar-right navbar-systray-item oe_systray" />-->						
						<!--<ul class="nav navbar-top-links navbar-right oe_systray" />-->				
					</nav>									
					<!--
					<div class="nav navbar-nav navbar-right navbar-systray o_menu_systray">
						<ul	class="nav navbar-nav navbar-right navbar-systray-item oe_user_menu_placeholder" />
						<ul class="nav navbar-nav navbar-right navbar-systray-item oe_systray" />
					</div>
					-->									
				</header>				
			</nav>
		</xpath>

	</template>	

	<template id="menu_secondary" inherit_id="web.menu_secondary"
		name="App Drawer - Secondary Menu">
		<xpath expr="//a[@class='o_sub_menu_logo']" position="replace" />
		<xpath expr="//div[@class='o_sub_menu_footer']" position="replace" />
		<xpath expr="//div[@class='o_sub_menu_content']/t" position="replace">
			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">

				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">

					<!-- Sidebar user panel (optional) -->
					<div class="oe_user_menu_placeholder" style="display: none;"/>					
					<!-- Sidebar Menu -->
					<ul class="sidebar-menu oe_application_menu_placeholder">
						<li class="header">MAIN NAVIGATION</li>
						<!-- Main Menu -->
						<t t-foreach="menu_data['children']" t-as="menu">
							<t t-if="menu['children']">
								<li class="treeview">
									<a href="#">
										<img t-attf-src="/web/image/ir.ui.menu/{{ menu['id'] }}/web_icon_data"
										 class="app-drawer-icon-app img-rounded"
										 t-att-alt="menu['name']"
										 t-att-title="menu['name']" style="width:20px;"
										 />
										<span>
											<t t-esc="menu['name']" />											
										</span>
										<span class="pull-right-container">
											<i class="fa fa-angle-left pull-right"></i>
										</span>
									</a>
									<t t-call="web.menu_secondary2"/>
								</li>
							</t>
							<t t-if="not menu['children']">								
								<li class="treeview">									
									<t t-set="debug_param" t-value="'?&amp;debug=' if debug else ''"/>
									<a t-att-href="'/web%s#menu_id=%s&amp;action=%s' % (debug_param, menu['id'], menu['action'] and menu['action'].split(',')[1] or '')"
										t-att-class="'oe_menu_toggler' if menu.get('children') else 'oe_menu_leaf'"
										t-att-data-menu="menu['id']"
										t-att-data-action-model="menu['action'] and menu['action'].split(',')[0] or ''"
										t-att-data-action-id="menu['action'] and menu['action'].split(',')[1] or ''"> 
										<img t-attf-src="/web/image/ir.ui.menu/{{ menu['id'] }}/web_icon_data"
																	 class="app-drawer-icon-app img-rounded"
																	 t-att-alt="menu['name']"
																	 t-att-title="menu['name']" style="width:20px;"
																	 />
										<span>
											<t t-esc="menu['name']" />
										</span>
									</a>
								</li>								
							</t>							
						</t>
					</ul>
					<!-- /.sidebar-menu -->
				</section>
				<!-- /.sidebar -->
			</aside>

		</xpath>

	</template>
	
	<template id="web.menu_secondary2">
        <ul class="treeview-menu">
            <t t-foreach="menu['children']" t-as="menu">
                <li class="treeview">
                    <t t-if="menu['children']">
                        <a>							
                            <span>
								<t t-esc="menu['name']" />
							</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
                        </a>
                    </t>
                    <t t-if="not menu['children']">
                        <t t-call="web.menu_link2"/>
                    </t>
                    <t t-call="web.menu_secondary_submenu2"/>
                </li>
            </t>
        </ul>		
    </template>
	
	<template id="web.menu_secondary_submenu2">
        <ul class="treeview-menu">
            <t t-foreach="menu['children']" t-as="menu">
                <li class="treeview">
                    <t t-if="menu['children']">
                        <a>							
                            <span>
								<t t-esc="menu['name']" />
							</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
                        </a>
                    </t>
                    <t t-if="not menu['children']">
                        <t t-call="web.menu_link2"/>
                    </t>
                    <t t-call="web.menu_secondary_submenu2"/>
                </li>
            </t>
        </ul>		
    </template>
	
	<template id="web.menu_link2">
        <t t-set="debug_param" t-value="'?&amp;debug=' if debug else ''"/>
        <a t-att-href="'/web%s#menu_id=%s&amp;action=%s' % (debug_param, menu['id'], menu['action'] and menu['action'].split(',')[1] or '')"
            t-att-class="'oe_menu_toggler' if menu.get('children') else 'oe_menu_leaf'"
            t-att-data-menu="menu['id']"
            t-att-data-action-model="menu['action'] and menu['action'].split(',')[0] or ''"
            t-att-data-action-id="menu['action'] and menu['action'].split(',')[1] or ''"> 			
			<span>
				<t t-esc="menu['name']" />
			</span>
        </a>
    </template>

</odoo>
